{% extends "base.html" %}


{% block content %}
<head>
  <meta charset="utf-8" />
  <title>Chart.js Example</title>
  <!-- import plugin script -->
  <script src='static/Chart.min.js'></script>
</head>

<h1>Daily Chart by User</h1>
<!-- bar chart canvas element -->
<canvas id="myChart" width="600" height="400"></canvas>
<p id="caption">The chart is displaying a simple bar chart.</p>

<script>

// Global parameters:
// do not resize the chart canvas when its container does (keep at 600x400px)
Chart.defaults.global.responsive = false;


var dataPack1 = [21000, 22000, 26000];
var dataPack2 = [10000, 12000, 13000];
var dataPack3 = [31000, 23000, 12000];
var dates = ["01-SEP-2018", "02-SEP-2018", "03-SEP-2018"];

// define the chart data
var chartData = {
  'labels' : dates,
  'datasets' : [{
      'label': 'Task1',
      'data' : dataPack1,
	  backgroundColor: "rgba(55, 160, 225, 0.7)",
	  hoverBackgroundColor: "rgba(55, 160, 225, 0.7)",
	  hoverBorderWidth: 2,
	  hoverBorderColor: 'lightgrey'     
}, {
  label: 'Task2',
  data: dataPack2,
  backgroundColor: "rgba(225, 58, 55, 0.7)",
  hoverBackgroundColor: "rgba(225, 58, 55, 0.7)",
  hoverBorderWidth: 2,
  hoverBorderColor: 'lightgrey'
},{
  label: 'Task3',
  data: dataPack3,
  backgroundColor: "rgba(180, 180, 55, 0.7)",
  hoverBackgroundColor: "rgba(180, 180, 55, 0.7)",
  hoverBorderWidth: 2,
  hoverBorderColor: 'lightgrey'
}]
}
 
// get chart canvas
var ctx = document.getElementById("myChart").getContext("2d");
 
// create the chart using the chart canvas
var myChart = new Chart(ctx, {
  type: 'bar',
  data: chartData,
  options: {
    scales: {
          xAxes: [{ 
          	stacked: true
            }],
        yAxes: [{stacked: true,
            ticks: {
                beginAtZero: true
            }
        }]
    }
}
});

</script>

{% endblock %}